<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/theme.css">
<link rel="stylesheet" href="/css/theme-desktop.css">
<link rel="stylesheet" href="/css/theme-register.css">
<link rel="stylesheet" href="/css/theme-login.css">
<meta name="viewport" content="width=device-wid th, initial-scale=1">
</head>

<body>

<header class="bg-yellow header">

<div class="nav-tittle">
<div class="tittle"><img class="img" src="/images/logo-mercado-liebre.svg" alt="Logo"></a></div>

<div class="barra"> <input placeholder="Buscar productos, marcas" class="search-u"><a href=""><i class="fas fa-search search"></i></a></div>

</div>

<div class="div-cuotas"><p class="cuotas" style="text-align: center"><i class="fas fa-hand-holding-usd hand"> </i> Comprá en cuotas y sin tarjeta de crédito </p> </div>

<div class="burguer nav-item3"><a href=""><i class="fas fa-bars"></i></a></div>

<section  class="nav-header">

<ul class="nav-item1">
<li class="item-list"><a class="item" href="">Ofertas </a></li>
<li class="item-list"><a class="item" href="">Tiendas Oficiales </a></li>
<li class="item-list"><a class="item" href="">Vender</a></li>
<li class="item-list"><a class="item" href="">Ayuda</a></li>
</ul>
<ul class="nav-item2">
    <li class="item-list"><a class="item" href="./register" name="register">Creá tu cuenta<i class="far fa-id-card"></i> </a></li>
    <li class="item-list"><a class="item" href="">Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
    <li class="item-list"><a class="item" href="">Mis Compras <i class="fas fa-shopping-basket"></i> </a></li>
</ul>
</section>
</header>

<main >
    <form method="GET" action="/">

      <h2 class="h2">Ingresá</h2>
      <div class="div-login">
<input type="Password" name="Nombre de usuario"  placeholder="Nombre de usuario" class="anchototal" > 
</div> <br>    

<div class="div-login">
            <input type="Password" name="Password"  placeholder="password" class="anchototal" > 
        </div>
        <br>
    </div >
    <div class="bottom">
        <button type="submit" value="Enviar" class="botonregister" > Enviar </button></div>
    <div class="bottom">
        <button type="reset" value="Borrar" class="botonregister" > Borrar </button>
    </div>
    <div class="bottom">
      <button type="submit" value="Volver al inicio" class="botonregister" > Volver al inicio</button>
  </div >
    </form>
    </main>

    <footer class="footer">
        <ul class="ul-footer">
           <div class="div-footer1"> <i class="fas fa-credit-card"></i> </div>
           <li class="small text-footer"> <p >Pagá con tarjeta o en efectivo</p> 
            <div class="div-footer"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</div></li>
        </ul>
        
        <ul class="ul-footer">
            <div class="div-footer1"> <i class="fas fa-gift"></i></i> </div>
            <li class="small text-footer"> <p class="small">Envío gratis desde $2.500</p>
            <div class="div-footer"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</div></li>
         </ul>
        
         <ul class="ul-footer">
            <div class="div-footer1"> <i class="fas fa-user-shield"></i></i> </div>
            <li class="small text-footer"><p class="small">Seguridad, de principio a fin</p>
        <div class="div-footer"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, por que estás siempre protegid@.</div></li>
         </ul>
        </footer>
        <br>
        <div class="cierre"> Copyright© 1999-2020 MercadoLiebre S.R.L </div>
        
        </body>
        </html>