@media (min-width: 769px) {
  .description {
    display: none;
    width: 100%;
  }
  .product {
    box-shadow: none;
    margin: 5px;
  }
  .nav-item3 {
    display: none;
  }
  .nav-header {
    display: flex;
    width: 100%;
  }
  .section {
    width: 100%;
    margin: center;
    padding: center;
    border: 0%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .descuento {
    font-size: 8px;
    color: #39b54a;
    font-weight: bold;
    margin: 0;
    align-self: center;
  }
  .price {
    font-size: 12px;
    color: black;
    font-weight: bold;
    margin-left: 10px;
    margin: 10px;
  }
  .description {
    font-size: 80%;
    font-weight: bold;
    color: black;
    margin: auto;
    margin: 10px;
  }
  .product:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .product:hover .description {
    display: block;
  }
  .div-cuotas {
    width: 45%;
    display: block;
  }
  .div-cuotas2 {
    display: none;
  }
  .tittle-section {
    text-align: left;
  }
  .main {
    margin: auto;
  }
  .cuotas {
    width: 100%;
    font-size: 65%;
    margin: auto;
  }
  .nav-item1 {
    font-size: 100%;
  }
  .nav-item2 {
    font-size: 100%;
  }
  .footer {
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    padding: auto;
  }
  .text-footer {
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0%;
    padding: 0%;
    text-align: center;
  }
  .div-footer {
    font-size: 90%;
    text-align: center;
    margin: 5px;
    padding: 0%;
  }
  .ul-footer {
    margin: 10px;
    padding: 0%;
  }
  .div-footer1 {
    width: 90%;
    margin: auto;
    padding: auto;
    text-align: center;
  }
}
