.h2 {
  text-align: center;
}
.anchototal {
  width: 30%;
  margin: 1px;
  padding: auto;
  border-radius: 4px;
}
.div-login {
  margin: auto;
  padding: auto;
  text-align: center;
}
.bottom {
  width: 20%;
  margin-bottom: 1px;
}
.div-footer1 {
  margin: auto;
  padding: auto;
  text-align: center;
}
