.h2 {
  text-align: center;
}
.anchototal {
  width: 50%;
  margin: 1px;
  padding: auto;
  border-radius: 4px;
  text-align: center;
}
.div-login {
  margin: auto;
  padding: auto;
  text-align: center;
}
.bottom {
  width: 30%;
  margin-bottom: 1px;
}
.animation {
  color: blue;
}
.animation:hover {
  color: gold;
}
.animation {
  color: blue;
  transition: color 0.5s;
}
